<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h3>Specify Symptoms</h3>
    <hr/>
    <a th:href="@{/addPatient}" class="btn btn-primary">add patient</a>
    <br/><br/>

<!--    <form th:act th:object="${patient}" method="POST">-->

<!--        <select class="form-control col-12 mb-4" id="dropDownList1">-->
<!--            <option value="0">select option</option>-->
<!--            <option th:each="option : ${patient}" th:value="${option.id}" th:text="${option.name}"></option>-->
<!--        </select>-->

        <div th:each="item : ${items}">
            <a th:href="@{/perform-diagnosis/{id}(id = ${item.id})}">
                <span th:text="${item.name}"></span>
            </a>
        </div>
<!--    </form>-->
</div>
</body>
</html>